.own-message {

  margin-bottom: 30px;
  margin-right: 30px;
  
  color:#fff;
  max-width: 95%;
  font-size: 14px;
  
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  &-text {
    margin-bottom: 10px;
    max-width: 90%;
    text-align: right;
    word-break: break-all;
    @media screen and (max-width:767.98px) {
      max-width: 90%;
    }
  }
  &__control-and-time {
    display: flex;
    
  }

  

  &__controls {
    display: flex;
    margin-right: 15px;
    align-items: center;
    align-self: flex-end;
  }

  &__controls--item {
    cursor: pointer;

    &:first-child {
      svg {
        margin-right: 5px;
      }
    }
    svg {
      width: 15px;
      height: 15px;
    }
  }
}
