.message-input {
  width: 100%;
  display: flex;
  margin-top: 10px;
  padding:15px 15px 0 15px;
  box-sizing: border-box;
  border-top: 1px solid #fff;
  @media screen and (max-width:767.98px) {
    flex-direction: column;
  }
  &-text {
    color:#fff;
    flex: 1 1 80%;
    margin-right: 30px;
    padding: 10px 0 10px 15px;
    outline: none;
    transition: all 0.5s ease-in;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: transparent;
    &:focus{
      border:2px solid rgba(230, 81, 74, 1);
      
    }
    &::placeholder{
      color:#fff;
    }
  
    @media screen and (max-width:767.98px) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  &-button {
    color:#fff;
    flex: 1 1 20%;
    background-color: rgba(230, 81, 74, 1);
    border:none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    &:hover{
        
        background-color: rgba(190, 49, 43, 1);
    }
    @media screen and (max-width:767.98px) {
      flex:1 1 auto;
      padding:10px 5px 10px 5px;
    }
  }
}
