.usersBlock{
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    max-height: 50%;
    overflow: auto;
    background-color: #5257ef;;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    color:#fff;
    padding:15px 15px;
    &__button{
        margin-bottom: 25px;
        color:#fff;
        background-color: rgba(230, 81, 74, 1);
        border:none;
        border-radius: 5px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        padding:10px 15px;
        &:hover{
         background-color: rgba(190, 49, 43, 1);
        }
    }
}
