.header {
  color:#fff;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
  align-items: center;
  border-bottom: 1px solid rgb(255, 255, 255);
  padding:0 15px 15px 15px; 
  &-title{
    margin-right: 30px;
    @media screen and (max-width:767.98px) {
      align-self: center;  
      margin:0 0 15px 0; 
    }
  }
  &__chatInfo {
    display: flex;
    align-items: center;
    @media screen and (max-width:767.98px) {
      flex-direction: column;
    }
    
    p {
      margin-right: 30px;
      @media screen and (max-width:767.98px) {
        align-self: flex-start;
        margin: 0 0 15px 0;
      }
    }
  }

  @media screen and (max-width:767.98px) {
    flex-direction: column;
    align-items: stretch;
  }
}
