.userBlock{
    display: flex;
    justify-content: space-between;
    margin-bottom:10px;
    align-items: center;
    &__button{
        color:#fff;
        background-color: rgba(230, 81, 74, 1);
        border:none;
        border-radius: 5px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        padding:5px 10px;
        &:hover{
         background-color: rgba(190, 49, 43, 1);
        }
    }
}