
@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
      font-family: $font_name;
      src: url("../../fonts/#{$file_name}.ttf");
      font-display: swap;
      font-weight: #{$weight};
      font-style: #{$style};
    }
  }
  
  @include font("Montserrat-Medium", "Montserrat-Medium", "400", "normal");
 

.login{
    font-family: "Montserrat-Medium";
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    width:400px;
    &__input{
        border:2px solid #b8b8b8;
        border-radius: 5px;
        flex:1;
        padding:10px 0 10px 20px;
        margin-bottom: 10px;
        outline:none;
        transition: all 0.5s ease-in;
        &:focus{
            border:2px solid rgba(230, 81, 74, 1);
        }
    }
    &__input--fullfild{
        border:2px solid rgba(230, 81, 74, 1);
    }
    
    &__btn{
        color:#fff;
        background-color:rgba(230, 81, 74, 1) ;
        border:0;
        border-radius: 15px;
        padding:10px 0;
        cursor: pointer;
        font-size: 15px;
        transition: all 0.5s ease-in;
        &:hover{
            background-color:rgba(190, 49, 43, 1);
        }
    }
    &__title{
        align-self: center;
        margin-bottom:20px;
        color:rgba(48, 53, 195, 1);
        
    }
}